@import 'variables';
@import 'typography';


.top h1{
  @include font-h3-extra-bold;
}
.top h3{
    @include font-h6-extra-bold;
}
.top p{
    @include font-small-normal;
}
.user-avatar {
    width: 52px;
    height: 52px; 
    border-radius: 50%; 
  }
.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 4px 8px;
  width: 568px; 
  height: 48px;
  margin-left: auto;
  
}


.input-wrapper {
  position: relative;
  flex-grow: 1;
  margin-right: 20px; /* Space between input and avatar */
}

.search-icon {
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  height: 20px; /* Adjust as needed */
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #F4F7FE; 
  border-radius: 20px; 
  padding: 5px 8px 5px 40px; 
}
.search-input::placeholder { color: #ccc; }
.search-input:focus {
  background-color: #F4F7FE; 
}

.edit{
    background-color: $dusky-blue;
    color: white;
    padding: 8px 16px;
    border-radius: 100px;
    border: 2px solid $dusky-blue;

  }
  .edit:hover{
    background-color: transparent;
    color: $dusky-blue;
    border: 2px solid $dusky-blue;
  }
  .edit img{
    width: 24px;
    height: 24px;
    margin-right: 4px;
    content: url("/img/edit.png");
  }
  .edit:hover img{
    content: url("/img/edit-act.png");
  }

  .excel{
    background-color: $dusky-blue;
    color: white;
    padding: 8px 16px;
    border-radius: 100px;
    border: 2px solid $dusky-blue;

  }
  .excel:hover{
    background-color: transparent;
    color: $dusky-blue;
    border: 2px solid $dusky-blue;
  }
  .excel img{
    width: 24px;
    height: 24px;
    margin-right: 4px;
    content: url("/img/file-excel (1).png");
  }
  .excel:hover img{
    content: url("/img/file-excel (2).png");
  }

  .pdf{
    background-color: $dusky-blue;
    color: white;
    padding: 8px 16px;
    border-radius: 100px;
    border: 2px solid $dusky-blue;

  }
  .pdf:hover{
    background-color: transparent;
    color: $dusky-blue;
    border: 2px solid $dusky-blue;
  }
  .pdf img{
    width: 24px;
    height: 24px;
    margin-right: 4px;
    content: url("/img/file-pdf (1).png");
  }
  .pdf:hover img{
    content: url("/img/file-pdf (2).png");
  }


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    
}
.teacher-header, 
.table td.name-cell { 
    text-align: left;
}
.table input[type="text"] {
    width: 40px;
    background-color: transparent;
    height: 100%;
    border: none;
    box-sizing: border-box;
    padding: 10px; 
    outline: none; 
}
.table tbody tr td:last-child, 
.table tbody tr td:nth-last-child(2),
.table tbody tr td:nth-last-child(3), 
.table tbody tr td:nth-last-child(4) { 
    background-color: #F5D324;
}

.table thead {
    background: none;  /* Removes any default background */
    color: inherit;    /* Sets the text color to the inherited value */
}
.table {
    width: 100%;
    border-collapse: separate;
    border: 2px solid black;
    border-spacing: 0;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border: 1px solid black;
}
.table tbody tr:first-child th {
    position: sticky;
    top: 60px; /* This should be the combined height of your thead rows */
    background-color: white;
    z-index: 5; /* Lower than thead z-index to ensure it scrolls under thead */
}
.table thead tr:first-child th {
    top: 0;
}

.table thead tr:nth-child(2) th {
    top: 49px; /* Adjust this value based on the actual height of your first header row */
}

.table thead tr:nth-child(3) th {
    top: 99px; /* Adjust this value based on the combined height of the first two header rows */
}





.teacher-header {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}


