@import 'variables';
@import 'typography';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-default;
    text-decoration: none;
}

body .side-bar{
    padding: 8px;
    background-color: $whisper;
    width: 232px;
    height: 100vh;
}
.logo img{
    width: 200px;
    height: 100px;
}

.side-bar {
    position: fixed; /* or absolute, depending on your layout */
    top: 0;
    left: 0;
    height: 100vh; /* Full height of the viewport */
    width: 232px;
    background-color: $white;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    overflow: hidden; /* Hide overflow */
    
}

.sidebar-content {
    height: 100%;
    overflow-y: auto; 
    box-sizing: content-box; 
    margin-right: -30px; 
    margin-left: 4px;

}
.sidebar-content p{
    color: #757575;
    @include font-small-medium;
    margin-top: 8px;
    margin-bottom: 0;
}

.sidebar-content ul li {
    position: relative;
    list-style-type: none;
    height: 48px;
    width: 200px;
    line-height: 48px;

}
  
.sidebar-content ul li a {
display: flex;
align-items: center;
text-decoration: none;
border-radius: 8px;
padding: 0px 12px;
color: $dark-teal;
}
.sidebar-content img{
    width: 20px;
    height: 20px;
}

.sidebar-content ul li a:hover {
background-color: $dusky-blue;
color: white;

}

.dashboard-link img {
    content: url('/img/sidebar/Dashboard.svg'); /* Normal */
}
.dashboard-link:hover img, .dashboard-link.active img {
    content: url('/img/sidebar/Dashboard-act.svg'); /* Hover & Active */
}

.teacher-link img {
    content: url('/img/sidebar/Teacher.svg'); /* Normal */
}
.teacher-link:hover img, .teacher-link.active img {
    content: url('/img/sidebar/Teacher-act.svg'); /* Hover & Active */
}

.class-link img{
    content: url("/img/sidebar/Class.png");
}
.class-link:hover img, .class-link.active:hover img{
    content: url("/img/sidebar/Class-act.png");
}

.schedules-link img{
    content: url("/img/sidebar/Schedule.svg");
}
.schedules-link:hover img, .schedules-link.active:hover img{
    content: url("/img/sidebar/Schedule-act.svg");
}

.gradebook-link img{
    content: url("/img/sidebar/Grade.png");
}
.gradebook-link:hover img, .gradebook-link.active:hover img{
    content: url("/img/sidebar/Grade-act.png");
}

.award-link img{
    content: url("/img/sidebar/Award.png");
}
.award-link:hover img, .award-link.active:hover img{
    content: url("/img/sidebar/Award-act.png");
}

.event-link img{
    content: url("/img/sidebar/Event.png");
}
.event-link:hover img, .event-link.active:hover img{
    content: url("/img/sidebar/Event-act.png");
}

.account-link img{
    content: url("/img/sidebar/Account.png");
}
.account-link:hover img, .account-link.active:hover img{
    content: url("/img/sidebar/Account-act.png");
}

.settings-link img{
    content: url("/img/sidebar/Settings.svg");
}
.settings-link:hover img, .settings-link.active:hover img{
    content: url("/img/sidebar/Settings-act.svg");
}
.help-link img{
    content: url("/img/sidebar/Help-circle.svg");
}
.help-link:hover img, .help-link.active:hover img{
    content: url("/img/sidebar/Help-circle-act.svg");
}

.logout-link img{
    content: url("/img/sidebar/Log-out.svg");
}
