<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/event.css">
</head>
<body>
    <div class="container">
        <div class="top d-flex justify-content-between">
            <h1>Event</h1>
            <div class="search-container">
                <div class="input-wrapper">
                    <img src="/img/search 1.svg" alt="Search" class="search-icon"> 
                    <input type="text" class="search-input" placeholder="Search">
                </div>
            </div>
            <img src="/img/Ava.svg" alt="User" class="user-avatar"> 
            <div class="user">
                <h3>Veronica</h3>
                <p>Admin</p>
            </div>
        </div>
        <div class="d-flex ">
            <button type="button" class="add d-flex align-items-center mr-auto my-3" data-toggle="modal" data-target="#exampleModal">
                <img class="mr-2" src="/img/add (1).png" alt="Add">
                New
            </button>
        </div>
        <div class="container">
            <div class="row">
                <div class="event-list col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="event-item">
                                <div class="time">
                                    <span class="date">26</span>
                                    <span class="month">MAY</span>
                                </div>
                                <img src="/img/event 1.svg" alt="">
                                <h6>Acrylic Workshop “Chồi non”</h6>
                                <a href="#">Xem thêm</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="event-item">
                                <div class="time">
                                    <span class="date">26</span>
                                    <span class="month">MAY</span>
                                </div>
                                <img src="" alt="">
                                <h6>Acrylic Workshop “Chồi non”</h6>
                                <a href="#">Xem thêm</a>
                            </div>
                
                        </div>
                    </div>
                </div>
                <div class="event-details col-6 col-md-4">
                
                </div>
            </div>
        </div>


    </div>
</body>